.bankwork
  &__list
    padding 0
    margin 0
    list-style none
  &__item
    display flex
    align-items center
  &__icon
    margin-right 10px
    font-size 45px !important
    height 45px !important
  &__text
    margin-bottom 0
    font-size 14px
    line-height 1.2

@media(max-width 767.98px)
  .bankwork
    &__item
      margin-bottom 15px
    &__icon
      font-size 32px !important
      height 32px !important