.features
  &__decorate
    display flex
    align-items center
    justify-content center
    margin-bottom 15px
    width 86px
    height 86px
    background-color $gray-light
    border-radius 50%
  &__subtitle
    font-size 24px
    margin-bottom 0