.licenses
  &__subtitle
    font-size 18px
    text-align center
  & .slick-prev
      left 10px
  & .slick-next
      right 10px

@media (max-width 767.98px)
  .licenses
    &__subtitle
      font-size 16px