.refinance
  &__desc
    font-size 20px
    text-align center
    margin-bottom 30px
  &__label
    display flex
    flex-direction column
    padding 15px
    background-color $white
  &__input
    border none
    font-size 16px
    &::placeholder
      font-size 16px
      font-weight 700
      color $primary
  &__text
    color #9e9e9d

@media (max-width 767.98px)
  .refinance
    &__desc
      font-size 16px