.slick-arrow
  top 50%

.slick-arrow:before
  color $gray

.slick-prev
  left -15px
  -webkit-transform rotate(90deg)
  -moz-transform rotate(90deg)
  -ms-transform rotate(90deg)
  -o-transform rotate(90deg)
  transform rotate(90deg)

.slick-next
  right -15px
  -webkit-transform rotate(-90deg)
  -moz-transform rotate(-90deg)
  -ms-transform rotate(-90deg)
  -o-transform rotate(-90deg)
  transform rotate(-90deg)

.slick-dots li button::before
  content '○'
  font-size 26px


.slick-dots li.slick-active button::before
  color $primary !important
  opacity 1

// .slick-dots li button:hover::before,
// .slick-dots li button:focus::before
//   border-color $primary

.slick-dots .slick-active button::before
  content '•'
  font-size 40px

@media(max-width 767.98px)
  .slick-prev
    left -15px
  .slick-next
    right -15px
