.steps__bg {
  background-image: url('../images/base/bg-wtf.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.steps-mby-5 {
  margin-bottom: 70px;
}

.steps-mtx {
  margin-top: 55px;
}

@media(max-width:1200px) {
  .steps-mby-5 {
    margin-bottom:100px;
  }
}

@media(max-width:992px) {
  .steps-mby-5 {
    margin-bottom:48px;
  }
  .steps-mtx {
    margin-top:56px;
  }
}