.steps__bg {
  background-image: url('../images/base/bg-wtf.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.steps-mby-5 {
  margin-bottom: 70px;
}

.steps-mtx {
  margin-top: 55px;
}

@media(max-width: 1199.98px) {
  .steps-mtx {
    margin-top: 60px;
  }
  .steps-mby-5 {
    margin-bottom:100px;
  }
}

@media(max-width: 991.98px) {
  .steps-mby-5 {
    margin-bottom:48px;
  }
  .steps-mtx {
    margin-top: 40px;
  }
}

@media(max-width 767.98px)
  .steps__bg
    background-image url('../images/base/bg-wtf-mobile.png')
    background-size contain
  .steps-mtx
    margin-top 0
  .steps-mtx-first
    margin-top 40px
   .steps
    &-mby
      &-1
        margin-bottom 60px
        opacity 1
      &-2
        margin-bottom 60px
        opacity 1
      &-3
        margin-bottom 70px
        opacity 1
      &-4
        margin-bottom 50px
        opacity 1
      &-50
        opacity 1
      &-6
        opacity 1
      &-7
        opacity 1
      &-8
        opacity 1
      &-9
        opacity 1

@media (max-width 575.98px)
  .steps-mtx-first
    margin-top 50px
  .steps
    &-mby
      &-2
        margin-bottom 48px
        opacity 1
      &-3
        margin-bottom 48px
        opacity 1
      &-4
        margin-bottom 65px
        opacity 1
      &-50
        opacity 1
      &-6
        opacity 1
      &-7
        opacity 1
      &-8
        margin-bottom 70px
        opacity 1
      &-9
        opacity 1