@font-face
	font-family "svgIconFont"
	src url('../fonts/svgIconFont.eot')
	src url('../fonts/svgIconFont.eot?#iefix') format('eot'), url('../fonts/svgIconFont.woff2') format('woff2'), url('../fonts/svgIconFont.woff') format('woff'), url('../fonts/svgIconFont.ttf') format('truetype'), url('../fonts/svgIconFont.svg#svgIconFont') format('svg')

.i:before
	font-family "svgIconFont"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	text-decoration none
	text-transform none


.i_icon-burger:before
	content "\E001"

.i_icon-check:before
	content "\E002"

.i_icon-house:before
	content "\E003"

.i_icon-iron-next:before
	content "\E004"

.i_icon-nextArrow:before
	content "\E005"

.i_icon-paperplane:before
	content "\E006"

.i_icon-percent:before
	content "\E007"

.i_icon-personal:before
	content "\E008"

.i_icon-prevArrow:before
	content "\E009"

.i_icon-support:before
	content "\E00A"

.i_icon-wallet:before
	content "\E00B"

.i_icon-whatsap:before
	content "\E00C"
